@model hasicskyutok.Models.Druzstvo

@{
    ViewData["Title"] = "Úprava";
}

<h1>Úprava</h1>

<h4>Družstvo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nazev" class="control-label"></label>
                <input asp-for="Nazev" class="form-control" />
                <span asp-validation-for="Nazev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartovniCislo" class="control-label"></label>
                <input asp-for="StartovniCislo" class="form-control" />
                <span asp-validation-for="StartovniCislo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategorieID" class="control-label"></label>
                <select asp-for="KategorieID" class="form-control" asp-items="ViewBag.KategorieID"></select>
                <span asp-validation-for="KategorieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">zpět na seznam</a>
</div>

