@model HasicskyUtok.Models.Stafeta

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Stafeta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazevStafety)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazevStafety)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Upravit</a> |
    <a asp-action="Index">zpět na seznam</a>
</div>
